<%= flash[:success] %>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <%= render 'users/user', {user: @user, book: @book} %>
    <%= render 'users/list', users: @users %>
  </div>
</div>